/* 
    seletor {
        propriedade: valor;
    }
*/

body {
    margin: 0 10%;
}

.panel {
    text-align: center;
}

header.search {
    height: 200px;
    padding: 0 0 30px 0;
}

.search img.logo {
    height: 100px;
    width: 300px;
    margin: 20px;
}

.btn-filter {
    height: 34px;
}